* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
    font-weight: 700;
}

.nav-link {
    font-size: large;
    font-weight: 500;
    margin-right: 24px;
}

.hero {
    background-color: #F1502F;
    border-radius: 32px;
    padding: 24px 24px 32px;
    color: white;
    height: 400px;
    display: flex;
    flex-flow: column;
    justify-content: end;
    gap: 24px;
    overflow: hidden;
    border: solid 4px #ff947f;
}